:root {
  --color-white: #f5f5f5;
  --color-razzmatazz: #D27EBC; /* color primary */ 
  --color-jazzberry-jam: #854273; /* color secondary */
  --color-turbo: #D1C792; /* color tertiary */
  --color-deep-sky-blue : #69D1D1; /* Color foruth */
  --color-cerulean: #498585; /* fifth color */
}
